.sideMenu {
    position: absolute;
    background-color: #F7F7F7;
    height: 400%;
    z-index: 20;
}

@media only screen and (min-width: 1024px) {

    .sideMenu {
        right: 0%;
        width: 60%;
    }
}
