#backgroundHome {
    background-image: url('../../assets/FondoNav.png');
    background-size: cover;
    top: 0;
    height: 70vh;
    width: 100%;
}

.imgBrands {
    width: 100%;
    height: auto;
    max-width: 100px;
    border-radius: 50%;
}