.userImg {
    width: 100%;
    height: auto;
    max-width: 60px;
}

.container {
    position: absolute;
    top: 15%;
    left: 10%;
}

@media only screen and (min-width: 1024px) {

    .container {
        position: relative;
    }
}