select {
    background-color: #31B5FF;
}

.userProfile {
    width: 40px;
    max-width: 50px;
    height: 40px;
    border-radius: 100%;
}

.homeImg {
    width: 100%;
    max-width: 70px;
    height: auto;
}

